/* YOUR CUSTOM STYLES */
body.login{
	background: #E9BE48;
}

body.dashboard{
  background: #FFFFFF;
  padding-top: 60px;
}

.btn-custom-second,.picker__weekday-display{
	background: #E9BE48;
}

.primary-color, .stepper li.active a .circle, .stepper li.completed a .circle{
      background-color: #E9BE48!important;
}

.btn-turquesa{
	background: #FFEE43;
}

.btn-turquesa:hover{
 background: #fbec59; 
}

.btn-spartan{
      color: #fff;
    background-color: #2ECC71;
    border-color: #27AE60;
}

.btn-turquesa:hover,.btn-turquesa:focus{
	background: #fbec59!important
}

.iconUser{
	margin-top: 11px;
	color:#FFFFFF;
}

.login-block input,.login-block input:focus{
  color: #FFFFFF
}

.login-block .md-form label{
	color: #FFFFFF;
}

.login-block{
	border-top: 0px;
}

.login-block .options a{
	color: #FFFFFF
}

.login-block .options{
	margin: auto;
}

.login-block .version{
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	position: fixed;
	bottom: 0;
	right: 32px;
}

.login-block .active{
	color: #f1efef!important
}

.login-block input[type=date]:focus:not([readonly]), .login-block input[type=datetime-local]:focus:not([readonly]), .login-block input[type=email]:focus:not([readonly]), .login-block input[type=number]:focus:not([readonly]), .login-block input[type=password]:focus:not([readonly]), .login-block input[type=search-md]:focus:not([readonly]), .login-block input[type=search]:focus:not([readonly]), .login-block input[type=tel]:focus:not([readonly]), .login-block input[type=text]:focus:not([readonly]), .login-block input[type=time]:focus:not([readonly]), .login-block input[type=url]:focus:not([readonly]), .login-block textarea.md-textarea:focus:not([readonly]){
	border-bottom: 1px solid #f1efef!important
	
}

.bg-second{
	background-color: #E9BE48!important;
}

.button-collapse,.button-collapse:active,.button-collapse:hover{
	color: #FFFFFF;
  margin-top: 8px!important;
  display: block;
  font-size: 1.8rem!important;
}

.mainMenu{
	margin-bottom: 0px;
}

.mainMenu li{
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	padding: 0px;
	position: relative;
}

.mainMenu li > a{
  padding: 10px 3px;
  display: block;
}

.mainMenu li img{
	width: 24px;
}

.mainMenu li ul{
	position: absolute;
    width: 150px;
    right: 0;
    top: -1000%;
    transition: all .5s;
    border: 1px solid #efeded;
    background: #FFFFFF
}

.mainMenu li ul.active{
	top: 35px;
}

.title{
	color: #FFFFFF;
}

/*
menu lateral
 */
.menu-dash{
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform:translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    /* background: black; */
    width: 80%;
    z-index: 999;
    background: rgb(35, 96, 158);
    overflow: auto;
    /*-webkit-transition: left 0.4s ease-in-out;

    -moz-transition: left 0.4s ease-in-out;

    -ms-transition: left 0.4s ease-in-out;

    -o-transition: left 0.4s ease-in-out;

    transition: left 0.4s ease-in-out;*/
    -webkit-transition: -webkit-transform .5s ease-in-out;

  }

  .menu-dash.active{
    /*left: 0px;*/
    -webkit-transform:translateX(0px);
    transform: translateX(0px);
  }

  .touch.active{
    width: 100%;
    background: rgba(0,0,0,.4)
  }

  .menu-dash .profile{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #3670aa;
    padding-bottom:10px;
  }

  .menu-dash .profile .profile__image{
    display: inline-block;
    width: 50%;
  }

  .menu-dash .profile .profile__image img{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  }

  .menu-dash .profile .profile__name{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    color: #FFFFFF;
  }

  .menu-dash .menu{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 50px;
    overflow: auto
  }

  .menu-dash .menu li{
    
    border-bottom: 1px solid #3670aa;
    position: relative;
  }
  .menu-dash .menu li i{
    font-size: 25px;
    vertical-align: middle;
  }

  .menu-dash .menu li a{
    color: #FFFFFF;
    display: block;
    padding: 10px;
  }

  .menu-dash .menu li a img{
    max-width: 25px;
  }

  .menu-dash .menu li a span{
    font-size: 16px;
    margin-left: 5px;
  }


.touch{
  position: fixed;
  width: 50px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  /*transition: .2s ease-out;*/
}

.menu-dash .version{
	position: fixed;
	bottom: 10px;
	left: 20px;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

.dropdownTop a:after{
  display: none;
}

.modal-header{
  display: block
}

.bgimg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}

.vegas-slide, .vegas-slide-inner{
  background-size: contain!important;
}

/*
*** contenido graficas resumen
 */

.summaryGhaph,.chartGhaph,.summaryGhaphPremium{
  position: fixed;
  /* top: 0; */
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  bottom: -100%;
  transition: all .8s;
  padding: 60px 20px 20px 20px;
  overflow: auto;
  z-index: 1;
}

.summaryGhaphPremium.active{
  top: 100px;
}

.summaryGhaph,.summaryGhaphPremium{
  padding-left: 0px;
  padding-right: 0px;
}

.chartGhaph{
  padding-top: 90px;
  z-index: 999;
}

.summaryGhaph.active,.chartGhaph.active{
  bottom: 0;
}

.summaryGhaph .meter,.summaryGhaphPremium .meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  margin: 20px 0 10px 0; /* Just for demo spacing */
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
 /* padding: 10px;*/
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.summaryGhaph .meter > span,.summaryGhaphPremium .meter > span {
  display: block;
  height: 20px;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(25,135,204);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(50,169,245)),
    color-stop(1, rgb(25,135,204))
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.summaryGhaph .meter > span:after, .summaryGhaph .animate > span > span,.summaryGhaphPremium .meter > span:after, .summaryGhaphPremium .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: 
     -webkit-gradient(linear, 0 0, 100% 100%, 
        color-stop(.25, rgba(255, 255, 255, .2)), 
        color-stop(.25, transparent), color-stop(.5, transparent), 
        color-stop(.5, rgba(255, 255, 255, .2)), 
        color-stop(.75, rgba(255, 255, 255, .2)), 
        color-stop(.75, transparent), to(transparent)
     );
  background-image: 
    -moz-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move2 2s linear infinite;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 2px;
}

.summaryGhaph .animate > span:after,.summaryGhaphPremium .animate > span:after {
  display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.summaryGhaph .orange > span,.summaryGhaphPremium .orange > span {
  background-color: #f1a165;
  background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.summaryGhaph .red > span,.summaryGhaphPremium .red > span {
  background-color: #f0a3a3;
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.summaryGhaph .nostripes > span > span, .summaryGhaph .nostripes > span:after,.summaryGhaphPremium .nostripes > span > span, .summaryGhaphPremium .nostripes > span:after {
  -webkit-animation: none;
  background-image: none;
}

.closeCurrent,.closeCurrent:hover,.closeCurrent:active,.closeCurrent:focus{
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 9;
  border: 1px solid #D22719;
  padding: 2px 5px;
  color: #E9BE48;
}

.openModal.active,.openPremium.active,.picker__date-display{
  background: #F0C713;
}

/*
*** contenido graficas resumen
 */

/*
**minimal menu
 */

.minimalMenu{
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 9999;
}

.minimalMenu .header--minimalMenu{
  display: table;
  width: 100%;
  padding: 20px;
}

.minimalMenu .header--minimalMenu__image,.minimalMenu .header--minimalMenu__info{
  display: block;
  vertical-align: middle;
  width: 100%
}

.minimalMenu .header--minimalMenu__image img{
  width: 100%;
  border-radius: 0%;
  height: auto;
}

.minimalMenu .header--minimalMenu__info h3{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top:10px;
}

.minimalMenu .menu{
  padding-left: 0px;
}

.minimalMenu .menu li{
  border-bottom: 0px;
}

.minimalMenu .menu li:hover,.minimalMenu .menu li:active,.minimalMenu .menu li:focus{
  background: #eceeef;
}

.minimalMenu .menu li a{
  color: #888888;
}

.minimalMenu .menu li span{
  margin-left: 15px!important;
  font-size: 13px!important;
  vertical-align: middle;
}

.minimalMenu .version{
  color: #888888;
  border-top-color: #888888
}

.navbar {
  border-radius: 0%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal{
  z-index: 99999!important;
}

.modal-backdrop{
  z-index: 9999!important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pro{
  color: #f0ad4e
}

.dropdown-menu{
  padding: 0px
}

#chartContainer{
  margin-top: 20px;
}

.highcharts-container {
    width:100% !important;
    height:100% !important;
}

/***
**select material
*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0, 0.3);
}

*{box-sizing:border-box; -webkit-box-sizing:border-box;}
html, body{height:100%; margin:0;}

body{
  font: 16px/24px Roboto, sans-serif;
  background: #fafafa;
}


/*
MAD-SELECT by Roko CB
*/
.mad-select .material-icons{
  vertical-align: middle;
}
.mad-select{
  position:relative;
  display:inline-block;
  vertical-align:middle;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-right: 8px;
}
.mad-select ul {
  list-style: none;
  display:inline-block;
  margin:0; padding:0;
}
.mad-select li{
  vertical-align: middle;
  white-space: nowrap;
  height:24px;
  line-height:24px;
  display: none;
  padding: 8px 16px;
  margin:0;
  box-sizing: initial;
}
.mad-select > ul:first-of-type{
  /*  max-width:120px; COMMENT FOR AUTO WIDTH */
  width: 92%;
}
.mad-select > ul:first-of-type li.selected{
  display: inline-block;
  height: 24px;
  max-width: calc(100% - 24px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.mad-select i.material-icons{
  opacity: 0.5;
  margin:0;
  padding:0;
}
/*jQ*/
.mad-select ul.mad-select-drop{
  position: absolute;
  z-index: 9999;
  visibility: hidden; opacity:0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  transition: 0.24s;
  max-height: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%
}
.mad-select ul.mad-select-drop.show{
  visibility: visible; opacity: 1;
  max-height: 160px; /* COMMENT IF YOU DON?T NEED MAX HEIGHT */
}
.mad-select ul.mad-select-drop li{
  display: block;
  transition: background 0.24s;
  cursor: pointer;
}
.mad-select ul.mad-select-drop li.selected{
  background: rgba(0,0,0,0.07);
}
.mad-select ul.mad-select-drop li:hover{
  background: rgba(0,0,0,0.04);
}

.itemGraph{
  line-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: block
}


.imgBottom{
  width: 100%
}

.imageSection{
  background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    background-position: center;
    top: 60px;
    position: absolute;
}

.listItemsGraph{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 51%;
}

#windowPremium{
  z-index: 99;
}

.summaryGhaphPremium .listItemsGraph{
  bottom: inherit;
  top: 0;
}

#windowPremium,.preloading{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  bottom: -100%;
  transition: all .5s;
  padding:10px;
}
.preloadingLogin{
  z-index: 9;
  background: transparent;
}
.preloading{
  bottom: 0px;
}

#windowPremium.active{
  bottom: -45px;
}

#windowPremium h3{
  text-align: center;
}

#windowPremium .imgPremium{
  width: 100%;
  margin: auto;
}

.form-control.parsley-error{
  border-bottom: 1px solid #ba1616!important;
}

.login-block input.parsley-error[type=date]:focus:not([readonly]), .login-block input.parsley-error[type=datetime-local]:focus:not([readonly]), .login-block input.parsley-error[type=email]:focus:not([readonly]), .login-block input.parsley-error[type=number]:focus:not([readonly]), .login-block input.parsley-error[type=password]:focus:not([readonly]), .login-block input.parsley-error[type=search-md]:focus:not([readonly]), .login-block input.parsley-error[type=search]:focus:not([readonly]), .login-block input.parsley-error[type=tel]:focus:not([readonly]), .login-block input.parsley-error[type=text]:focus:not([readonly]), .login-block input.parsley-error[type=time]:focus:not([readonly]), .login-block input.parsley-error[type=url]:focus:not([readonly]), .login-block textarea.md-textarea:focus:not([readonly]){
  border-bottom: 1px solid #ba1616!important
  
}




@media(max-height: 590px ){
  .imageSection{
    height: 30%
  }
}

@media(max-height: 520px ){
  .sweet-alert{
    top: 30%!important;
  }
}

@media(max-height: 563px){
  .vegas-slide, .vegas-slide-inner{
    background-size: 51%!important;
  }
}

/*filter button*/

.fixed-action-btn-filter{
  position: fixed;
  right: 15px;
  height: 65px;
  bottom: 15px;
  z-index: 9991
}

/*filter content*/

.windowFilter{
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  transition: all .8s;
  background: #FFFFFF;
  top: -1000%;
  padding:55px 10px 10px;
  z-index: 999;
}

.windowFilter.active{
  top: 0;
}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  z-index: 9999999
}
.rippleEffect {
    animation: rippleDrop .6s linear;
    position: absolute;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.rippleInverse {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  transform: scale(2);
  position: absolute;
  opacity: 1;
  z-index: 9999999
}
.rippleEffectInverse {
    animation: rippleDropInverse .6s linear;
    position: absolute;
}

@keyframes rippleDropInverse {
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/*helpers*/
.hidden{
  display: none;
}

.table{
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.tablecell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sweet-alert[data-has-cancel-button=false] button,.sweet-alert .sa-icon.sa-success .sa-line,.sweet-alert .sa-icon.sa-success .sa-line{
  background: #C33B3E!important;
  box-shadow: none!important
}

.isotipo{
  width: 50%;
  margin: auto;
  display: block;
}

.mt-2{
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #4a4a4a!important;
}

#overlayGlobal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;

}

#toast-container{
  width: 100%;
  left: 0;

}

#toast-container .toast{
  width: 100%;
  background: rgba(0,0,0,.7)!important
}

#toast-container .toast-message{
  font-size: .8rem;
  line-height: 110%
  /*text-align: center;*/
}

#toast-container .toast-success .toast-message{
  font-size: 1.1rem!important;
}

.btn-excel{
  display: none!important
}

@media(max-width: 350px){
  .mainMenu li{
    margin-left: 3px;
  }

  .mainMenu li img{
    width: 20px;
  }
}

/*prompt confirm*/

#signOut .promptConfirmContainer__action--confirm{
  background: #E9BE48;
}

.promptConfirm{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 9999;
  display: none;
}

.promptConfirm.active{
  display: block
}

.promptConfirm .promptConfirmContainer{
  background: rgba(255,255,255,1);
  width: 80%;
  height: auto;
  margin: auto;
  max-height: 
}

.promptConfirm .promptConfirmContainer__message,.promptConfirm  .promptConfirmContainer__action{
  display: block;
  width: 100%;

}

.promptConfirm .promptConfirmContainer__message{
  height: 70%;
}

.promptConfirm .promptConfirmContainer__action{
  height: 30%;
  font-size: 0;
}

.promptConfirm .promptConfirmContainer__action button,.promptConfirm .promptConfirmContainer__action a{
  display: inline-block;
  width: 100%;
  height: 60px;
  border: 0;
  vertical-align: top;
  font-size: 1.3rem;
  color: #252525;
  overflow: hidden;
  position: relative;
  margin-left: 0;
}

.promptConfirm .promptConfirmContainer__action a img{
  width: auto;
  height: 100%;
  display: inline-block;
  margin: auto;
  height: 60px;
}

.promptConfirm .promptConfirmContainer__action button.promptConfirmContainer__action--confirm,.promptConfirm .promptConfirmContainer__action a.promptConfirmContainer__action--confirm{
  /*background: #E9BE48*/
}

.promptConfirm .promptConfirmContainer__action button.promptConfirmContainer__action--negation,.promptConfirm .promptConfirmContainer__action a.promptConfirmContainer__action--negation{
  background: #888888
}

.promptConfirm .messageContent{
  padding: 15px 0px
}

#premiumCash button,#premiumCash a{
  height: 50px;
  width: 100%;
  font-size: 1rem;
}

button.dinamicButton:nth-child(odd){
  background: #C8595C!important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color: #E9BE48; 
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/*input*/
input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]){
  border-bottom: 0px!important;
  box-shadow: none!important
}

hr{
      border-top: 1px solid #f2cb61!important;
}

.card ul{
  word-wrap: break-word;
  text-align: left;
}

/*contenido listado facturas y demas*/

.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0;font-size: 2rem}
.blockquote-box a{color: #E9BE48;}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}

.alert {
  color: #FFFFFF;
}

.zindexmax{
  z-index: 9;
}